---
import peregrineWhite from '../assets/img/peregrine-white.svg'
import peregrineBlack from '../assets/img/peregrine-black.svg'
import bannerNeutral100 from '../assets/img/samf-banner-logo-nuetral-100.png'
import bannerNeutral900 from '../assets/img/samf-banner-logo-nuetral-900.png'

const currentYear = new Date().getFullYear()
---

<footer class="w-full">
  <section class="grid items-start pb-5 container sm:pb-10 sm:grid-cols-3" id="navFooter">
    <div
      class="pr-5 mx-auto flex flex-col sm:justify-between"
      id="contact-footer-section"
    >
      <div class="flex justify-center sm:block">
        <h6 class="hidden sm:flex flex-col items-start uppercase">Contact Us</h6>
        <img src={bannerNeutral100} alt="The Official SAMF banner-logo." class="hidden dark:block h-1/2 w-1/2" />
        <img src={bannerNeutral900} alt="The Official SAMF banner-logo." class="dark:hidden h-3/4 w-3/4"/>
      </div>
      <div class="flex flex-col sm:pt-5 text-xs text-center sm:text-left">
        <p class="pb-2 font-semibold">St. Augustine Music Festival</p>
        <p class="pb-1">P.O Box 833</p>
        <div class="pb-6">
          <p class="pb-1">St. Augustine, FL</p>
          <p>32085-0833</p>
        </div>
        <p class="pb-6">904-814-9404</p>
        <p class="font-semibold">Email SAMF</p>
      </div>
    </div>
    <div class="hidden sm:block pl-">
      <h6 class="flex flex-col uppercase">Quick Links</h6>
      <div class="flex flex-col gap-5 pt-5 text-xs">
        <a href="/">Home</a>
        <a href="/">Watch & Listen</a>
        <a href="/">About</a>
        <a href="/">News</a>
        <a href="/">Contact</a>
        <a href="/">Support</a>
      </div>
    </div>
    <div class="hidden flex-col sm:flex">
      <h6 class="flex justify-start">SAMF News</h6>
      <p class="pt-5 text-xs">Upcoming Events here.</p>
    </div>
  </section>
  <section class="py-4">
    <div class="container flex flex-col items-center justify-center sm:flex-row sm:justify-between">
      <div>
        <p class="text-[10px]">
          &copy; {currentYear} St. Augustine Music Festival. All Rights Reserved.
        </p>
      </div>
      <div class="flex flex-row items-center">
        <p class="text-[10px]">Powered by Peregrine Pixels</p>
        <img
          src={peregrineBlack}
          alt="The Official Peregrine Pixels Logo"
          class="block h-[1.3rem] w-[1.3rem] pl-1 dark:hidden"
        />
        <img
          src={peregrineWhite}
          alt="The Official Peregrine Pixels Logo"
          class="hidden h-5 w-5 pl-1 text-neutral-100 dark:block"
        />
      </div>
    </div>
  </section>
</footer>

<style lang="scss"></style>
