---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon'

const headerItems = [
  { text: 'Home', href: '/' },
  {
    text: 'Watch & Listen',
    submenu: [
      { text: 'Events', href: '/events' },
      { text: 'SAMF Video Performances', href: 'link' },
      { text: 'SAMF 2023 Program', href: 'link' },
      { text: 'SAMF Program Notes', href: 'link' },
    ],
  },
  {
    text: 'About',
    submenu: [
      { text: 'Our Story', href: '/about' },
      { text: 'Our Mission', href: 'link' },
      { text: 'Venues', href: 'link' },
      { text: 'Spotlight Performers', href: 'link' },
      { text: 'Meet the Musicians', href: 'link' },
      { text: 'Board of Directors', href: 'link' },
    ],
  },

  {
    text: 'News',
    submenu: [
      { text: 'SAMF Blog', href: 'link' },
      { text: 'SAMF Newsletter', href: 'link' },
    ],
  },
  { text: 'Contact', href: '/contact' },
  {
    text: 'Support',
    submenu: [
      { text: 'Donate', href: 'https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=LGYJBWLM3XKUA' },
      { text: 'Sponsor', href: '/sponsor' },
      { text: 'Volunteer', href: 'link' },
    ],
  },
]
---

<header>
  <SkipLinks />
  <Navigation>
    {
      headerItems.map((headerItem) => {
        if (headerItem.submenu) {
          return (
            <li class="menu-item has-dropdown">
              <button aria-haspopup="true" aria-expanded="false">
                {headerItem.text}
              </button>
              <ul class="dropdown-menu">
                {headerItem.submenu.map((submenuItem) => {
                  return (
                    <li class="submenu-item">
                      <a href={submenuItem.href}>{submenuItem.text}</a>
                    </li>
                  )
                })}
              </ul>
            </li>
          )
        } else {
          return (
            <li class="menu-item">
              <a href={headerItem.href}>{headerItem.text}</a>
            </li>
          )
        }
      })
    }
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [astro-icon] {
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
          transition: fill 0.2s ease-in-out;
        }
      }

      &:hover {
        [astro-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
